# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Data
data/raw_data/
data/transformed_data/
# Allow only the final dashboard output to be tracked
!data/gold_data/gold_parquet_reports/
!data/gold_data/gold_parquet_reports/chicago_crimes_gold_reports_.parquet

# Notebook checkpoints
.ipynb_checkpoints/
# VSCode
.vscode/
# Execution Logs
pipeline_execution.log
pipeline_*.log