# Python
__pycache__/
*.pyc
.env
.venv/
venv/
*.log

# Data
data/raw_data/
data/transformed_data/
# Allow only the final dashboard output to be tracked
!data/gold_data/gold_parquet_reports/
!data/gold_data/gold_parquet_reports/chicago_crimes_gold_reports_.parquet

# Notebook checkpoints
.ipynb_checkpoints/
# VSCode
.vscode/
# Execution Logs
pipeline_execution.log
pipeline_*.log
# 
frames/
generate_choropleth_video.py
chicago_crime_choropleths_r12.mp4
# DATA FILES - Override gitignore for pipeline outputs
!data/gold_data/*.parquet
!data/raw_data/gold_data_dash/*.parquet
!data/raw_data/*.csv
!data/raw_data/raw_data_status.csv
!data/raw_data/report_date_status.csv
