apt-listchanges==4.8
autocommand==2.2.2
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.2
dbus-python==1.4.0
distro-info==1.13
fail2ban==1.1.0
idna==3.10
inflect==7.3.1
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
more-itertools==10.7.0
packaging==25.0
pyasyncore==1.0.2
PyGObject==3.50.0
pyinotify==0.9.6
python-apt==3.0.0
python-debian==1.0.1
python-debianbts==4.1.1
reportbug==13.2.0
requests==2.32.3
setuptools==78.1.1
systemd-python==235
typeguard==4.4.2
typing_extensions==4.13.2
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.3.0
wheel==0.46.1
zipp==3.21.0
